.newscontainer {
  font-family: inter;
  width: 80%;
  margin: auto;
  background: rgb(143, 142, 142);
}

.all__news {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px auto;
}

.news {
  max-width: 300px;
  padding: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(139, 139, 139);
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.head__text {
  margin-top: 80px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  text-emphasis-color: black;
  padding-bottom: 3px;
}

.news__author {
  margin-right: 5px;
  color: rgb(98, 163, 96);
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
